.eventListContainer {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
}

.titleListContainer {
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
}

.listTitle {
    margin-left: 3.5%;    
    margin-bottom: 1%;
    font-size: 1.75rem !important;
    font-weight: bold;
}

@media only screen and (max-width:800px) {
    .eventListContainer{
        flex-direction: column;
        align-items: center;
    }
}